{% extends "global/dash_layout.html" %}

{% block content2 %}
    <h3 class="header">KMITL Event manage system</h3>
    <h5 class="center">คุณยังไม่มีกิจกรรมเลย ? สร้างกิจกรรมใหม่ได้ที่นี้
        <a class="btn-floating btn-large waves-effect waves-light blue lighten-2" href="/event/create">
            <i class="material-icons left">add</i>
        </a>
    </h5>

    <div class="row">
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
            <div class="card-image">
                <img src="/static/global/images/a.png">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
            </div>
        </div>
    </div>
{% endblock content2 %}